
body{
font-family: "Garuda";
font-size: 14px;
}
img {
    margin: 0em;
}


.ft16{
   font-size: 14px !important;
}
.table_td_head_left{
      /*border: 0.2px solid #000;*/
      padding: 3px;
}
.table_td_head_right{
    /* border: 0.2px solid #000;*/
     border-left: none;
      padding: 3px;
}
.table_td_content{
    /* border: 0.2px solid #000;*/
     border-top: none;
      padding: 3px;
}
.table_td_content_right{
   /*  border: 0.2px solid #000;*/
     border-left: none;
     border-top: none;
      padding: 3px;
}
.table_td_middle{
   /*  border: 0.2px solid #000;*/
      border-bottom: none;
      border-top: none;
      padding: 3px;
}
.table_td_md_right{
    /* border: 0.2px solid #000;*/
      border-bottom: none;
      border-top: none;
      border-left: none;
      padding: 3px;
}
.border_top{
     /*border-top: 0.2px solid #000 !important;*/
}
.border_bottom{
     /*border-bottom: 0.2px solid #000 !important;*/
}
.sub_payment td{
  padding-top: 5px;
}

.pdf_company{
  font-size: 12px !important;
}
.pdf_company td{
  padding-top: 5px;
}
.word-wrap {
word-wrap: break-word;
}

.table_bordered{
    border: 0.2px solid #000;
    margin-bottom: 10px;
}
.table_bordered th{
    border:0.2px solid #000;
    padding: 3px;
}
.table_bordered td{
    border:0.2px solid #000;
    padding: 3px;
}
.layout_page{
     padding: 5px 20px 10px 50px;
}
.pdf_company_address{
  font-size: 13px !important;
}